/* Medium Layout: 992px. */

@media only screen and (min-width: 992px) and (max-width: 1199px) {}


/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 991px) {}


/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {

}

@media only screen and (max-width: 480px) {
.search_area .form-control{
	width:100px;
	border:none;
	transition:all 0.3s ease-out;
	}
.search_area .form-control:focus{
	width:180px;
	transition:all 0.3s ease-out;
	border-bottom:1px solid rgba(216,216,216,1.00);
	border:none;
	box-shadow:none;
	}
	.login_area  {
	margin-top:5px;
	background-color:#ECE0B4;
	width:200px;
	height:40px;
	margin-left:50px; 
	
	}

@keyframes slide{

}
.
}

/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
	


	}
	}
